

   <footer row-col-lg-3 row-col-lg-2>
    <div class="footer_box">
        <P class="footer-text-1">Contact Us | Privacy Policy | Disclaimer | Terms And Conditions</P>
        <p class="footer-text-2">2023 ALL Rights Reserved</p>
        <div class="f-sociels">
            <p><i class="fa-brands fa-facebook"></i></p>
            <p><i class="fa-brands fa-linkedin"></i></p>
            <p><i class="fa-brands fa-whatsapp"></i></p>
            <p><i class="fa-brands fa-instagram"></i></p>
        </div>

    </div>
</footer> 

