
<% layout("/layouts/boilerplate") %> 

   <body>
     <div class="card text-bg-dark ">
      <img
        src="/images/car1.webp"
        class="card-img carshed-img" alt="...">
      <div class="card-img-overlay">
        <h1 class="card-title">EMU CARSHED KURLA</h1>
      </div>
    </div>
    <hr>

    <!-- //image slider// -->

    <div id="carouselExample" class="carousel slide row row-col-lg-3 row row-col-md-2" >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/img1.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/img2.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/img3.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/img4.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/img5.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/img6.webp" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- image slider -->
<hr>
    <div class="about-us-box">
      <header><h2>About Us</h2></header>
      <hr>
      <P>
        <h7>
          The Kurla Railway Car-shed was constructed in 1925 when electrification of the Great Indian Peninsula Railway (GIPR) Harbour line was undertaken. It was Tuesday, the <b>3rd February 1925 10:00 Am</b>  that Indian Railway took a big leap from the steam era to electric traction when the first DC EMU rail car was flagged off by the then Governor of Mumbai Sir Leslie Orme Wilson, from<a href="https://en.wikipedia.org/wiki/Chhatrapati_Shivaji_Terminus"> Victoria Terminus(now Chhatrapati Shivaji Maharaj Terminus)</a> to Coorla Harbour (now Kurla) on Harbour line of Central Railway. It was also the first electric EMU train service in Asia which was run on 1.5 KV DC traction. In more than eight decades its dedicated service to the nation, suburban railway net work based on DC electric traction has played a pioneering role in socio-economic growth of the city of Mumbai and also heralded the advent of mass rapid transit system in India.

In 2008, Suburban system of Central Railway is carrying more than 3 million suburban commuters per day with 1068 ( 9 Car ) and 228 ( 12 Car ) services. With the introduction of new AC-DC rake 12 car services will increase by 12.
<br>
<br>

DC traction system having served for so long, now cannot keep pace with ever increasing number of suburban commuters and phenomenal expansion of Mumbai Metropolis. Accordingly ambitious DC-AC conversion has been planned by the Railways. This conversion is possible only with the use of EMU stock which can run both under DC and AC traction.

<br>
<br>
 

Central Railway has already made a break through by converting Igatpuri-Titwala Section from 1500 V DC to 25000 Volts AC. 13 AC-DC rakes fitted with BHEL Electrics are in operation to cater to this section since 19th Feb, 2006. Work of conversion in Pune – Vangani Section is in advance stage of conversion. 16 AC-DC rakes manufactured by ICF fitted with M/s. Siemens Electrics have been allotted to Central Railway to operate under AC-DC traction to manage services in the converted part of Suburban Section i.e. Vangani – Karjat – Khopoli. 

<br>
<br>
The Railways have also taken this opportunity to modernize the EMU stock with next generation technology and by loading it with number of features which are of immense benefits to the commuters.

<br>
<br>

This dream which has become a reality as the first rake for operation in Central Railway has been received in Kurla Carshed and likely to be pressed into service on 14th Feb, 2008. 
<br>
<br>

By 2016, the entire network had been converted to 25 KV, 50 Hz AC traction.
<br>
<br>
        </h7>
      </P>
    </div>
    <hr>
  

    <!-- map image -->
     
      <img src="/images/map.webp" class="img-fluid " alt="map">
     
        <!-- map image -->


        <!-- train-types-images -->

        <div class="text-center">
          <img src="/images/ALSTOM.jpg" class="rounded" alt="AC_MEDHA">
          <img src="/images/SEMEN.jpg" class="rounded" alt="AC_MEDHA">
          <img src="/images/ac-medha.webp" class="rounded" alt="AC_MEDHA">
          <img src="/images/ALSTOM.jpg" class="rounded" alt="AC_MEDHA">
        </div>

                <!-- train-types-images -->

               
   </body>
