<% layout("/layouts/boilerplate") %> 

<body>
  <div class="form">
  
    <form action="/home/login" method="POST">
<div class="mb-3">
<label for="exampleInputEmail1" class="form-label"><h5>Username</h5></label>
<div class="username-box">
  <i class="fa-solid fa-user"></i>
<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Username">
</div>
</div>
<div class="mb-3 password-div">
<label for="exampleInputPassword1" class="form-label"><h5>Password</h5></label>
<div class="password-box">
  <i class="fa-solid fa-lock"></i>
<input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
</div>
</div>

<button type="submit" class="btn btn-primary button1">Submit</button>

</form>
<div class="register-btn">
  <a href="/home/register"><button class="btn btn-primary button2">Create </button></a>
</div>

</div>

</body>
  

       



   
