<% layout("/layouts/boilerplate") %>

  <body>


    <div class="card-group">

      <div class="card ">
        <img src="/images/ac-medha.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">AC-MEDHA</h5><hr>
          <p class="card-text">The AC MEDHA local train is a type of air-conditioned local train manufactured by Medha
            Servodrives Pvt. Ltd., a Hyderabad-based company, in collaboration with Integral Coach Factory (ICF) in
            Chennai. The train features underslung electricals, which allows for more space for passenger seating.</p><hr>
          <b>
            <h8>Key Features:</h8><br>
          </b>
          <p class="card-text"> 1). 12-car walkthrough train <br>
            2). Underslung propulsion technology, inspired by the Train 18 Vande Bharat model <br>
            3). Increased passenger capacity due to reduced electrical equipment footprint<br>
            4). Electrical systems and software made in India, as part of the “Make in India” initiative</p><br><hr>
          <a href="https://en.wikipedia.org/wiki/Mumbai_Suburban_Railway">Read More</a>
        </div>
      </div>
      <div class="card ">
        <img src="/images/ALSTOM.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ALSTOM</h5><hr>
          <p class="card-text">The AC MEDHA local train is a type of air-conditioned local train manufactured by Medha
            Servodrives Pvt. Ltd., a Hyderabad-based company, in collaboration with Integral Coach Factory (ICF) in
            Chennai. The train features underslung electricals, which allows for more space for passenger seating.</p><hr>
          <b>
            <h8>Key Features:</h8><br>
          </b>
          <p class="card-text"> 1). 12-car walkthrough train <br>
            2). Underslung propulsion technology, inspired by the Train 18 Vande Bharat model <br>
            3). Increased passenger capacity due to reduced electrical equipment footprint<br>
            4). Electrical systems and software made in India, as part of the “Make in India” initiative</p><br>
            <hr>
          <a href="https://en.wikipedia.org/wiki/Mumbai_Suburban_Railway">Read More</a>
        </div>
      </div>
      <div class="card ">
        <img src="/images/ALSTOM.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ALSTOM</h5><hr>
          <p class="card-text">The AC MEDHA local train is a type of air-conditioned local train manufactured by Medha
            Servodrives Pvt. Ltd., a Hyderabad-based company, in collaboration with Integral Coach Factory (ICF) in
            Chennai. The train features underslung electricals, which allows for more space for passenger seating.</p>
            <hr>
           <b> <h8>Key Features:</h8><br>
          </b>
          <p class="card-text"> 1). 12-car walkthrough train <br>
            2). Underslung propulsion technology, inspired by the Train 18 Vande Bharat model <br>
            3). Increased passenger capacity due to reduced electrical equipment footprint<br>
            4). Electrical systems and software made in India, as part of the “Make in India” initiative</p><br>
            <hr>
          <a href="https://en.wikipedia.org/wiki/Mumbai_Suburban_Railway">Read More</a>
        </div>
      </div>
      <div class="card ">
        <img src="/images/SEMEN.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">SIEMENS</h5><hr>
          <p class="card-text">The AC MEDHA local train is a type of air-conditioned local train manufactured by Medha
            Servodrives Pvt. Ltd., a Hyderabad-based company, in collaboration with Integral Coach Factory (ICF) in
            Chennai. The train features underslung electricals, which allows for more space for passenger seating.</p>
          <b>
            <hr>
            <h8>Key Features:</h8><br>
          </b>
          <p class="card-text"> 1). 12-car walkthrough train <br>
            2). Underslung propulsion technology, inspired by the Train 18 Vande Bharat model <br>
            3). Increased passenger capacity due to reduced electrical equipment footprint<br>
            4). Electrical systems and software made in India, as part of the “Make in India” initiative</p><br><hr>
          <a href="https://en.wikipedia.org/wiki/Mumbai_Suburban_Railway">Read More</a>
        </div>
      </div>

          </div>
  </body>