
<% layout("/layouts/boilerplate") %> 
<body style="background-color: beige;">

    <video  class="object-fit-contain"  controls>
        <source src="/videos/Nature.mp4" type="video/mp4">
    </video>
    <video  class="object-fit-contain"  controls>
        <source src="/videos/vid1.mp4.crdownload" type="video/mp4">
    </video>
    <video  class="object-fit-contain"  controls>
        <source src="/videos/Nature.mp4" type="video/mp4">
    </video>
    <video  class="object-fit-contain"  controls>
        <source src="/videos/Nature.mp4" type="video/mp4">
    </video>
    <video  class="object-fit-contain"  controls>
        <source src="/videos/Nature.mp4" type="video/mp4">
    </video>
    <video  class="object-fit-contain"  controls>
        <source src="/videos/Nature.mp4" type="video/mp4">
    </video>



</body>
